<h1>Repositories#index</h1>
<p>Find me in app/views/repositories/index.html.erb</p>

<table>
	<thead>
		<th>Id</th>
		<th>Repository</th>
		<th>Github Created At</th>
		<th>Github Updated At</th>
		<th>Watchers</th>
		<th>Forks</th>
		<th>Open Issues</th>
		<th>Network Count</th>
		<th>Language</th>
	</thead>
	<tbody>
	<% @repositories.each do |repo| %>
 		<%= render :partial => 'row', :locals => {:repo => repo} %>
	<% end %>
	</tbody>
</table>
