<h3>Repositories</h3>
<p>RepoDepot snapshot of GitHub data for repositories listed at least once<small> (used for debugging)</small></p>

<table class="table table-bordered table-striped">
	<thead>
		<th>ID</th>
		<th>Repository</th>
		<th>Github<br/>Created At</th>
		<th>Github<br/>Updated At</th>
		<th>Watchers</th>
		<th>Forks</th>
		<th>Open<br/>Issues</th>
		<th>Network<br/>Count</th> 
		<th>RepoDepot<br/>Retrieved At</th>
	</thead>
	<tbody>
	<% @repositories.each do |repo| %>
 		<%= render :partial => 'row', :locals => {:repo => repo} %>
	<% end %>
	</tbody>
</table>
