<!-- <div class="listing-detail"> -->
		  <%= render :partial => 'repositories/condensed', :locals => {:repository => repository, :commentary => listing.commentary} %>    
			<!-- <tbody> -->
				<tr>
					<td colspan="9" class="speech-bubble">
						<div class="triangle-isosceles top">
							<%= listing.commentary %>
						</div>
					</td>
				</tr>
				<!--<tr>
					<td colspan="9">
						 &nbsp; 
					</td>
				</tr>-->
			</tbody>
<!-- </div>	 -->