
var search = "<%=  j (render :partial => 'add_form', :locals => {:repository => @repository, :commentary => nil}) %>"

$(".repository-search").remove()
$(".repo-search-container").append(search)
showSearch()
// $("#repo_name_or_url").before('<div class="text-error">Repository "<%= j (params[:repo_name_or_url]) %>" not found on GitHub</div>')
$("#repo_name_or_url").before('<div class="text-error"><%= j (@error_message) %></div>')


