console.log("lookup...")

var n = "<%=  j (render :partial => 'lookup', :locals => {:list => @list, :listing => @listing}) %>"
// n = '<table class="table table-bordered repo-condensed">' + n + '</tbody></table>'
// var repositoryId = "<%= @repository.id %>"

// var time = new Date().getTime()
// var b = $("#blank-listing").html()
// var regexp = new RegExp($(b).data('id'),'g') 
$('#listing-forms').append($(n).html())
$('.commentary').last().focus()

// todo: cleanup this insertion/reference
// $("#placeholder" + time).after(n)
// $("#placeholder" + time).remove()

// todo: better way to reference, like ordering below?
// $("#list_listings_attributes_" + time + "_repository_id").val(repositoryId)

//$(".ordering").last().val($(".ordering").length)
updateAllOrdering()

$('.repository-search #full_repo_name').val('')
$('.repository-search').toggleClass('invisible-ui')

$('#'+time+" .commentary").focus()
