
var search = "<%=  j (render :partial => 'add_form', :locals => {:repository => @repository, :commentary => nil}) %>"

$(".repository-search").remove()
$(".repo-search-container").append(search)
showSearch()
// $("#full_repo_name").before('<div class="text-error">Repository "<%= j (params[:full_repo_name]) %>" not found on GitHub</div>')
$("#full_repo_name").before('<div class="text-error"><%= j (@error_message) %></div>')


