<!-- <div class="listing-detail"> -->
		  <%= render :partial => 'repositories/condensed', :locals => {:repository => repository, :commentary => listing.commentary} %>    
			<tbody>
				<tr>
					<td colspan="9">
						<div class="well">
							<%= listing.commentary %>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="9">
						 &nbsp; 
					</td>
				</tr>
			</tbody>
<!-- </div>	 -->