
<h2>RepoDepot Roadmap <small>(Road-oh Map-oh)</small></h2>

Lists
<ul>
	<li>Import all starred repos as a list</li>
	<li>Pick any starred repos and add to any list</li>
	<li><strong>Comment on lists by other folks</strong></li>
	<li>+1 or -1 other lists</li>
	<li>Tag lists</li>
	<li>"This repo appears in <a href="#">5 other lists</a>"</li>
</ul>

Homepage
<ul>
	<li>Show most-viewed lists (ever)</li>
	<li>Trending lists (by views)</li>
	<li>Trending repos (by listings)</li>
	<li>Controversial lists (by comments)</li>
</ul>
