// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentary {
	width: 200px;
	height: 50px; 
} 

#listing-forms {
	margin-top: 20px;
}

.add-repo {
	margin: 20px 0;
}
 