// Place all the styles related to the repository controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

.record-detail {
 display: table;
 border-collapse:collapse;
}

.name-value {
	display: table-row;
}

.name-value * {
	display: table-cell;
}


