// Place all the styles related to the repository controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

.record-detail {
 display: table;
 border-collapse:collapse;
}

.record-detail div {
	display: table-row;
}

.record-detail div > * {
	display: table-cell;
	padding: 4px;
}


